*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  overflow-y: scroll;
  background-color: rgba(0,0,0,.2);
}

input.invalid{
  border: 2px solid red;
}

nav{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  color: white;
  width: 100vw;
  height: 75px;
  background-color: indigo;
  padding: 0px 15%;
}